= form_for @post, :html => { :multipart => true } do |f|
  .field
    = f.label :title
    %br/
    = f.text_field :post_text
  .field
    = f.label :Is_public
    %br/
    = f.label :Yes
    = f.radio_button :is_public, "1"
    = f.label :No
    = f.radio_button :is_public, "0"
  %div
    Upload Image
    = f.fields_for :photos do |ph|
      = ph.file_field :image
  .actions
    = f.submit
