= link_to new_post_path, :class => "new_post" do
  New Post
= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'logout'
%table{:border => "1"}
  %h1 List of Posts
  %tr
    %th Post
    %th Is Public
    %th Image
  - @posts.each do |post|
    %tr
      %td= post.post_text
      %td= post.is_public
      %td= image_tag Photo.find_by_imageable_id(post.id).image.url(:small)
      %td= link_to 'Show', post_path(post)
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' }
:css
  .logout{margin-left: 1251px;
    font-size: 23px;
  }
  .new_post{font-size: 23px;}
